<div class="container mt-5">
  <h2>Mis Cómics Favoritos</h2>
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let comic of favorites">
        <div class="card">
          <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" class="card-img-top" alt="{{ comic.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ comic.title }}</h5>
            <p class="card-text">{{ comic.description || 'Sin descripción' }}</p>
            <a [routerLink]="['/comic', comic.id]" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
